@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

@section Scripts
{
    <script type="module" src="~/dist/validation.entry.js" defer></script>
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="Contact">
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>