@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Employees";
}
<h1>@ViewData["Title"]</h1>


@section Scripts
{
    <script type="module" src="~/dist/employees.entry.js" defer></script>
}
<div id="employees"></div>
