@model NJXManagement.Models.Student

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script type="module" src="~/dist/index.entry.js" defer></script>
}

<p>testing css</p>
<div id="content"></div>
<div id="test"></div>


<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<span data-xero-sso data-href="/home/signin" data-label="Sign in with Xero"></span>
<script src="https://edge.xero.com/platform/sso/xero-sso.js"></script>