html {
    background-color: #F0F0F0;
}

#root {
    background-color: #F0F0F0;
}

  .card-paper {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  p {
    color: #808080;
  }

  .component-grid {
    flex-grow: 1;
  }