@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="row justify-content-center align-items-center">
    <div class="col-md-5">
            <div class="card" id="authCard">
                <div class="card-body">
                    <p>Thank you for confirming your email</p>
                    <a href="/">Go back to site</a>
                </div>
            </div>
    </div>
</div>